@charset "UTF-8";
/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=LXGW+WenKai+TC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap");
.text-English {
  font-family: "Edu AU VIC WA NT Hand";
}

.text-Chinese {
  font-family: "LXGW WenKai TC", cursive;
}

.no-padding {
  background: none !important; /* 強制移除背景 */
  padding: 0 !important; /* 強制移除 padding */
  margin: 0 !important; /* 強制移除 margin */
}

.no-text-decoration {
  text-decoration: none !important; /* 強制移除底線 */
  color: inherit; /* 繼承父元素的顏色 */
}

.no-background {
  background: none !important; /* 強制移除背景 */
  -webkit-box-shadow: none !important;
          box-shadow: none !important; /* 強制移除陰影 */
}

.bg-grey {
  background: #C1C0BF !important;
}

.bg-black {
  background: #263A4F !important;
}

.bg-brown {
  background: #836246 !important;
}

.bg-yellow {
  background: #E1C370 !important;
}

.text-white {
  color: #EEEDEB !important;
}

.text-grey {
  color: #C1C0BF !important;
}

.text-black {
  color: #263A4F !important;
}

.text-brown {
  color: #836246 !important;
}

.text-yellow {
  color: #E1C370 !important;
  margin: auto;
}